.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.df > a {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Roboto;
}