.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.regContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: #10283d;
    border-radius: 15px;
    border: 1px solid rebeccapurple;
}
.regContainer fieldset {
    border: none;
}
.regContainer input {
    width: 250px;
    height: 40px;
    border: none;
    background-color: #dfe2de;
    padding-left: 10px;
    border-radius: 10px;
    margin: 5px 15px 5px 0;
}
.regContainer div{
    display: flex;
    align-items: center;
}
.regContainer p {
    color: rgba(220, 20, 60, 0.9);
    margin: 0;
    width: 220px;
    display: flex;
    align-items: center;
}
.regContainer div > label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dfe2de;

}
.btn{
    font-size: 20px;
    width: 150px!important;
    height: 30px!important;
    font-weight: 600;
    text-transform: uppercase;
    color: #10283d;
}
.check {
    width: 20px!important;
    height: 20px!important;

}